.container {
    position: relative;
    width: 768px;
    margin: 20px auto 0;
}

div {
    text-align: center;
}

#answers {
    width: 30%;
    margin: 0 auto;
}

#response:hover {
    border: 1px solid black;
}